# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

**Objectives:**  

- List popular languages for Data Science  
- Identify popular open-source tools used by Data Scientists  
- Describe the role of Data Science in real-world scenarios  
- Understand common development environments for Data Science  
- Explore basic Markdown formatting

Some of the popular languages that Data Scientists use are:

1. R  
2. Python  
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy  
3. tensorflow

| Data Science Tools      |
|-------------------------|
| Jupyter Notebook        |
| RStudio                 |
| VS Code                 |

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
calculatedhours = 200 / 24
print(calculatedhours)

8.333333333333334

## Author

Muhammad Abdul Daym